@import url(content.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');


html {
	scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: #F3F6FA;
    font-family: 'Source Serif Pro', serif;
    color: #041221;
}

a {
    text-decoration: none;
}

a:visited {
    color: green;
  }


.container {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px 100% 72px;
    column-gap: 20px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd hd"
    "main main main main main main main main main main main main"
    "ft ft ft ft ft ft ft ft ft ft ft ft";
}

header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #102C4A 0%, #041221 100%);
    color: #F3F6FA;
    border-radius: 12px;
    
}

header h1 {
    margin-left: 24px;
}


header ul li{
    display: inline;
}

header ul li {
    color: inherit;
    margin: 16px;
    font-size: 1.4rem;
    text-decoration: none;
}

header ul li a:hover{
    border-bottom: 2px solid white;
}



a:visited{
    color: white;
    text-decoration: none;
}




main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
}


main section {
    display: flex;
    flex-direction: row;
    background-color: #E4EBF3;
    height: 100%;
}



main section .content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #041221;
    color: white;
    padding-left: 24px;
}

@media only screen and (max-width: 980px) {
    .container {
        max-width: 980px;
    }
    
    main section {
        display: flex;
        flex-direction: column;
        background-color: #E4EBF3;
        height: 100%;
        width: 100%;
    }

    main section img {
        width: 100%;
        object-fit: cover;
    }
   
}

@media only screen and (max-width: 649px) {

    .container {
        grid-template-rows: 160px 100% 72px;
        width: 649px;
    }
    header {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }

    header ul {
        padding-left: 0;
    }
   
}

@media only screen and (max-width: 375px) {

    .container {
        width: 370px;
    }
}
